:root {
    --primary-color: #1b4965;
    --accent1-color: #115586;
    --heading-font: "Miryad Pro Bold", sans-serif, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Layout width */
header,
footer {
    padding: 16px;
    margin: 0 auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

/* HERO */

h2 {
    font-family: var(--heading-font);
    color: white;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
}

.hero1 {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    color: white;
    font-size: 35px;
    background-color: var(--primary-color);
    width: 100%;
    font-family: var(--heading-font)
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 83%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    max-width: 1300px;
}

.hero article img {
    width: 100px;
    height: auto;
    float: right;
    margin: 5px;
}

/* Client image */
/* Footer icons */
.small-image {
    width: 50px;
    height: auto;
}