:root {
    --primary-color: #2c3b44;
    --accent1-color: #3b4b57;
    --heading-font: "Miryad Pro Bold", sans-serif, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Layout width */
header,
footer {
    padding: 16px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 2rem;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
}

.navigation a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    padding: 12px;
    min-width: 120px;
    /* ancho mínimo */
}

/* HERO */

h2 {
    font-family: var(--heading-font);
    color: white;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
}

.hero1 {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    color: white;
    font-size: 35px;
    background-color: var(--primary-color);
    width: 100%;
    font-family: var(--heading-font)
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 83%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    max-width: 1300px;
}

.hero article img {
    width: 100px;
    height: auto;
    float: right;
    margin: 5px;
}

/* Client image */
/* Footer icons */
.small-image {
    width: 50px;
    height: auto;
}

.history-grid {
    display: grid;
    /* activa Grid */
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 columnas iguales */
    gap: 20px;
    /* espacio entre columnas */
    align-items: center;
    /* alinea el contenido arriba */
    margin: 2rem auto 0;
    /* opcional: espacio alrededor */
}

.hpicture {
    width: 70%;
    /* que llene su columna */
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
    /* centro horizontal */
}

.gallery {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    /* horizontal */
    gap: 16px;
    /* espacio entre imágenes */
    justify-content: center;
}

figure {
    border: thin silver solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: var(--primary-color);
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem 2rem;
}

.copyright {
    text-align: center;
}

.socialmedia a {
    text-decoration: none
}