* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid footer {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: rgb(15, 5, 71);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

main {
    max-width: 840px;
    margin: 1rem;
    grid-column: 2;
}

aside {
    width: 20rem;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

h1 {
    color: rgb(15, 5, 71);
    margin: 1rem;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 125px
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
    margin: 1rem;
}

footer {
    text-align: center;
    border-top: 1px solid #000;
    margin-top: 15px;
}

/* Class Selector */

.box {
    margin: 8px auto;
    border: 1px solid rgba(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

.indent {
    padding-left: 2rem;
}