body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header,
footer {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb(44, 42, 42);
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px rgb(44, 42, 42)
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px 30px;
    background-color: rgb(224, 219, 219);
    font-size: .9rem;
}

h2 {
    border-bottom: 1px solid rgb(44, 42, 42);
}

footer {
    font-size: .9rem;
}